# Online reference: https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt

snippet ue "useEffect"
useEffect(() => {
	$2
}, [$1]);
endsnippet

snippet us "useState"
const [$1, $2] = useState${3:<$4>}($5);
endsnippet
