extends javascript

snippet tconst "ts const"
	const ${1}: ${2:any} = ${3};
	${0}
snippet tlet "ts let"
	let ${1}: ${2:any} = ${3};
	${0}

snippet tfun "ts function"
	function ${1}(${2}): ${3:any} {
		${0}
	}

